<% files.forEach(file => { %>
<div
  class="m-2 flex max-h-48 min-h-46 max-w-48 min-w-24 flex-col justify-between rounded-md border-2 border-blue-400 bg-stone-100 p-2">
  <a
    class="flex flex-col justify-start"
    href="/user/folder/<%= parentFolder.id %>/<%= file.id %>/details">
    <div class="mx-8 my-4 flex items-center justify-center">
      <svg
        class="max-w-18"
        version="1.0"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 64 64"
        enable-background="new 0 0 64 64"
        xml:space="preserve"
        fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <path
              fill="#51a2ff"
              d="M56,0H8C5.789,0,4,1.789,4,4v56c0,2.211,1.789,4,4,4h48c2.211,0,4-1.789,4-4V4C60,1.789,58.211,0,56,0z M58,60c0,1.104-0.896,2-2,2H8c-1.104,0-2-0.896-2-2V4c0-1.104,0.896-2,2-2h48c1.104,0,2,0.896,2,2V60z"></path>
            <path
              fill="#51a2ff"
              d="M49,25H15c-0.553,0-1,0.447-1,1s0.447,1,1,1h34c0.553,0,1-0.447,1-1S49.553,25,49,25z"></path>
            <path
              fill="#51a2ff"
              d="M49,19H15c-0.553,0-1,0.447-1,1s0.447,1,1,1h34c0.553,0,1-0.447,1-1S49.553,19,49,19z"></path>
            <path
              fill="#51a2ff"
              d="M49,37H15c-0.553,0-1,0.447-1,1s0.447,1,1,1h34c0.553,0,1-0.447,1-1S49.553,37,49,37z"></path>
            <path
              fill="#51a2ff"
              d="M49,43H15c-0.553,0-1,0.447-1,1s0.447,1,1,1h34c0.553,0,1-0.447,1-1S49.553,43,49,43z"></path>
            <path
              fill="#51a2ff"
              d="M49,49H15c-0.553,0-1,0.447-1,1s0.447,1,1,1h34c0.553,0,1-0.447,1-1S49.553,49,49,49z"></path>
            <path
              fill="#51a2ff"
              d="M49,31H15c-0.553,0-1,0.447-1,1s0.447,1,1,1h34c0.553,0,1-0.447,1-1S49.553,31,49,31z"></path>
            <path
              fill="#51a2ff"
              d="M15,15h16c0.553,0,1-0.447,1-1s-0.447-1-1-1H15c-0.553,0-1,0.447-1,1S14.447,15,15,15z"></path>
          </g>
        </g>
      </svg>
    </div>
    <div class="mx-2 max-h-[25%] truncate" title="<%= file.name %>">
      <%= file.name %>
    </div>
  </a>
</div>
<% }) %>
