<a href="/user/back">Back</a>
<% folders.forEach(folder => { %>
<div
  class="m-2 max-w-xs rounded-md border-2 border-emerald-400 bg-stone-100 p-2">
  <a href="/user/folder/<%= folder.id %>"><%= folder.id %></a>
</div>
<% }) %>
