<nav class="m-4 flex justify-between text-lg">
  <div class="flex">
    <a class="flex" href="/"
      ><div class="text-3xl">File</div>
      <div class="text-3xl text-emerald-500">Drive</div>
    </a>
  </div>
  <% if (loggedIn) { %>
  <div class="self-center">
    <a class="mx-4" href="/user">Home</a>
    <a href="/logout">Logout</a>
  </div>
  <% } %>
</nav>
