<form action="/user/upload" method="post" enctype="multipart/form-data">
  <label class="cursor-pointer text-blue-600" for="file">Upload</label>
  <input
    class="hidden"
    type="file"
    name="file"
    id="file"
    onchange="this.form.submit()" />
  <button class="hidden" type="submit">Upload</button>
</form>
