<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    Hello World
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
