<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <a href="/logout">Logout</a>
    <%- include("./partials/upload") %>
    <a href="/user/newfolder">New folder</a>
    <%- include("./partials/folders.ejs", {folders: folders}) %>
    <!--  prettier-ignore -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
